openapi: 3.0.3
info:
  title: 'GivEnergy API Documentation (v1.33.0)'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.givenergy.cloud/v1'
paths:
  /account:
    get:
      summary: 'Get Your Account Information'
      operationId: getYourAccountInformation
      description: 'Retrieves your account information'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2
                    name: frank28.203
                    first_name: Anna
                    surname: Adams
                    role: OWNER
                    email: kelly44@allen.co.uk
                    address: "Flat 60\nKyle Lights"
                    postcode: 'SP1 1NE'
                    country: UNITED_KINGDOM
                    telephone_number: '0738 286 7656'
                    timezone: GMT
                    standard_timezone: Europe/London
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      name:
                        type: string
                        example: frank28.203
                      first_name:
                        type: string
                        example: Anna
                      surname:
                        type: string
                        example: Adams
                      role:
                        type: string
                        example: OWNER
                      email:
                        type: string
                        example: kelly44@allen.co.uk
                      address:
                        type: string
                        example: "Flat 60\nKyle Lights"
                      postcode:
                        type: string
                        example: 'SP1 1NE'
                      country:
                        type: string
                        example: UNITED_KINGDOM
                      telephone_number:
                        type: string
                        example: '0738 286 7656'
                      timezone:
                        type: string
                        example: GMT
                      standard_timezone:
                        type: string
                        example: Europe/London
      tags:
        - Account
  '/account/{user_id}':
    get:
      summary: 'Get Account Information by ID'
      operationId: getAccountInformationByID
      description: 'Retrieves the information of a specific account by its ID'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    name: patel.joshua.941
                    first_name: Amy
                    surname: Owen
                    role: EXTERNAL
                    email: wright.dylan@clark.net
                    address: '84 John Lake'
                    postcode: 'AB22 8ZW'
                    country: UNITED_KINGDOM
                    telephone_number: '+44(0)0083 429653'
                    timezone: GMT
                    standard_timezone: Europe/London
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      name:
                        type: string
                        example: patel.joshua.941
                      first_name:
                        type: string
                        example: Amy
                      surname:
                        type: string
                        example: Owen
                      role:
                        type: string
                        example: EXTERNAL
                      email:
                        type: string
                        example: wright.dylan@clark.net
                      address:
                        type: string
                        example: '84 John Lake'
                      postcode:
                        type: string
                        example: 'AB22 8ZW'
                      country:
                        type: string
                        example: UNITED_KINGDOM
                      telephone_number:
                        type: string
                        example: '+44(0)0083 429653'
                      timezone:
                        type: string
                        example: GMT
                      standard_timezone:
                        type: string
                        example: Europe/London
      tags:
        - Account
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: '1234'
        required: true
        schema:
          type: string
  '/account/{user_username}/devices':
    get:
      summary: 'Get Account Dongles by ID'
      operationId: getAccountDonglesByID
      description: 'Retrieves a list of dongles for an account by its ID'
      parameters:
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      serial_number: 49niih5fqc
                      firmware_version: null
                      type: GPRS
                      commission_date: '1997-08-18T18:25:52Z'
                      inverter:
                        serial: FC4716A325
                        status: NORMAL
                        last_online: '2024-05-27T18:33:06Z'
                        last_updated: '2007-12-05T00:11:45Z'
                        commission_date: '1991-01-20T14:29:58Z'
                        info:
                          battery_type: LITHIUM
                          battery:
                            nominal_capacity: 165
                            nominal_voltage: 51.2
                            depth_of_discharge: 1
                          model: 'Plant EMS'
                          max_charge_rate: 2600
                        warranty:
                          type: 'Standard Legacy'
                          expiry_date: '1996-01-20T14:29:58Z'
                        firmware_version:
                          ARM: null
                          DSP: null
                        connections:
                          batteries: []
                        flags:
                          - full-power-discharge-in-eco-mode
                      site_id: 1
                    -
                      serial_number: 28sobz4oqi
                      firmware_version: null
                      type: GPRS
                      commission_date: '1996-02-13T18:56:48Z'
                      inverter:
                        serial: ED8493J072
                        status: LOST
                        last_online: '2001-07-16T01:12:53Z'
                        last_updated: '1995-11-02T22:41:50Z'
                        commission_date: '1982-01-25T13:54:44Z'
                        info:
                          battery_type: LITHIUM
                          battery:
                            nominal_capacity: 52
                            nominal_voltage: 307.2
                            depth_of_discharge: 0.85
                          model: All-In-One
                          max_charge_rate: 6000
                        warranty:
                          type: 'Standard Legacy'
                          expiry_date: '1987-01-25T13:54:44Z'
                        firmware_version:
                          ARM: 420
                          DSP: 426
                        connections:
                          batteries: []
                        flags: []
                      site_id: 4
                properties:
                  data:
                    type: array
                    example:
                      -
                        serial_number: 49niih5fqc
                        firmware_version: null
                        type: GPRS
                        commission_date: '1997-08-18T18:25:52Z'
                        inverter:
                          serial: FC4716A325
                          status: NORMAL
                          last_online: '2024-05-27T18:33:06Z'
                          last_updated: '2007-12-05T00:11:45Z'
                          commission_date: '1991-01-20T14:29:58Z'
                          info:
                            battery_type: LITHIUM
                            battery:
                              nominal_capacity: 165
                              nominal_voltage: 51.2
                              depth_of_discharge: 1
                            model: 'Plant EMS'
                            max_charge_rate: 2600
                          warranty:
                            type: 'Standard Legacy'
                            expiry_date: '1996-01-20T14:29:58Z'
                          firmware_version:
                            ARM: null
                            DSP: null
                          connections:
                            batteries: []
                          flags:
                            - full-power-discharge-in-eco-mode
                        site_id: 1
                      -
                        serial_number: 28sobz4oqi
                        firmware_version: null
                        type: GPRS
                        commission_date: '1996-02-13T18:56:48Z'
                        inverter:
                          serial: ED8493J072
                          status: LOST
                          last_online: '2001-07-16T01:12:53Z'
                          last_updated: '1995-11-02T22:41:50Z'
                          commission_date: '1982-01-25T13:54:44Z'
                          info:
                            battery_type: LITHIUM
                            battery:
                              nominal_capacity: 52
                              nominal_voltage: 307.2
                              depth_of_discharge: 0.85
                            model: All-In-One
                            max_charge_rate: 6000
                          warranty:
                            type: 'Standard Legacy'
                            expiry_date: '1987-01-25T13:54:44Z'
                          firmware_version:
                            ARM: 420
                            DSP: 426
                          connections:
                            batteries: []
                          flags: []
                        site_id: 4
                    items:
                      type: object
                      properties:
                        serial_number:
                          type: string
                          example: 49niih5fqc
                        firmware_version:
                          type: string
                          example: null
                        type:
                          type: string
                          example: GPRS
                        commission_date:
                          type: string
                          example: '1997-08-18T18:25:52Z'
                        inverter:
                          type: object
                          properties:
                            serial:
                              type: string
                              example: FC4716A325
                            status:
                              type: string
                              example: NORMAL
                            last_online:
                              type: string
                              example: '2024-05-27T18:33:06Z'
                            last_updated:
                              type: string
                              example: '2007-12-05T00:11:45Z'
                            commission_date:
                              type: string
                              example: '1991-01-20T14:29:58Z'
                            info:
                              type: object
                              properties:
                                battery_type:
                                  type: string
                                  example: LITHIUM
                                battery:
                                  type: object
                                  properties:
                                    nominal_capacity:
                                      type: integer
                                      example: 165
                                    nominal_voltage:
                                      type: number
                                      example: 51.2
                                    depth_of_discharge:
                                      type: integer
                                      example: 1
                                model:
                                  type: string
                                  example: 'Plant EMS'
                                max_charge_rate:
                                  type: integer
                                  example: 2600
                            warranty:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: 'Standard Legacy'
                                expiry_date:
                                  type: string
                                  example: '1996-01-20T14:29:58Z'
                            firmware_version:
                              type: object
                              properties:
                                ARM:
                                  type: string
                                  example: null
                                DSP:
                                  type: string
                                  example: null
                            connections:
                              type: object
                              properties:
                                batteries:
                                  type: array
                                  example: []
                            flags:
                              type: array
                              example:
                                - full-power-discharge-in-eco-mode
                              items:
                                type: string
                        site_id:
                          type: integer
                          example: 1
      tags:
        - Account
    parameters:
      -
        in: path
        name: user_username
        description: 'The username of the user.'
        example: qkunze
        required: true
        schema:
          type: string
  '/account/search/{user_username}':
    get:
      summary: 'Get Account Information by Username'
      operationId: getAccountInformationByUsername
      description: 'Retrieves the information of a specific account by its username'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 18
                    name: lmartin.14
                    first_name: Jack
                    surname: Palmer
                    role: VIEWER
                    email: noah.phillips@rogers.biz
                    address: "Flat 31\nKing Lake"
                    postcode: 'AB11 5QE'
                    country: UNITED_KINGDOM
                    telephone_number: '(0064) 295 7686'
                    timezone: GMT
                    standard_timezone: Europe/London
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 18
                      name:
                        type: string
                        example: lmartin.14
                      first_name:
                        type: string
                        example: Jack
                      surname:
                        type: string
                        example: Palmer
                      role:
                        type: string
                        example: VIEWER
                      email:
                        type: string
                        example: noah.phillips@rogers.biz
                      address:
                        type: string
                        example: "Flat 31\nKing Lake"
                      postcode:
                        type: string
                        example: 'AB11 5QE'
                      country:
                        type: string
                        example: UNITED_KINGDOM
                      telephone_number:
                        type: string
                        example: '(0064) 295 7686'
                      timezone:
                        type: string
                        example: GMT
                      standard_timezone:
                        type: string
                        example: Europe/London
      tags:
        - Account
    parameters:
      -
        in: path
        name: user_username
        description: 'The username of the user.'
        example: qkunze
        required: true
        schema:
          type: string
  /account-children:
    get:
      summary: 'Get Your Account Children Information'
      operationId: getYourAccountChildrenInformation
      description: 'Retrieves a list of accounts that your account has access to'
      parameters:
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 19
                      name: wright.dylan.123
                      first_name: Paul
                      surname: Edwards
                      role: SUB_CONTRACTOR
                      email: stephanie07@gmail.com
                      address: '84 Alexandra Square'
                      postcode: 'WS11 1ZY'
                      country: UNITED_KINGDOM
                      telephone_number: '04527298086'
                      timezone: GMT
                      standard_timezone: Europe/London
                    -
                      id: 20
                      name: michael37.776
                      first_name: Archie
                      surname: Jones
                      role: SUB_CONTRACTOR
                      email: jmorgan@gmail.com
                      address: '39 Grace Ferry'
                      postcode: 'LE4 4JR'
                      country: UNITED_KINGDOM
                      telephone_number: '0047 3552779'
                      timezone: 'GMT -1'
                      standard_timezone: Atlantic/Azores
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 19
                        name: wright.dylan.123
                        first_name: Paul
                        surname: Edwards
                        role: SUB_CONTRACTOR
                        email: stephanie07@gmail.com
                        address: '84 Alexandra Square'
                        postcode: 'WS11 1ZY'
                        country: UNITED_KINGDOM
                        telephone_number: '04527298086'
                        timezone: GMT
                        standard_timezone: Europe/London
                      -
                        id: 20
                        name: michael37.776
                        first_name: Archie
                        surname: Jones
                        role: SUB_CONTRACTOR
                        email: jmorgan@gmail.com
                        address: '39 Grace Ferry'
                        postcode: 'LE4 4JR'
                        country: UNITED_KINGDOM
                        telephone_number: '0047 3552779'
                        timezone: 'GMT -1'
                        standard_timezone: Atlantic/Azores
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 19
                        name:
                          type: string
                          example: wright.dylan.123
                        first_name:
                          type: string
                          example: Paul
                        surname:
                          type: string
                          example: Edwards
                        role:
                          type: string
                          example: SUB_CONTRACTOR
                        email:
                          type: string
                          example: stephanie07@gmail.com
                        address:
                          type: string
                          example: '84 Alexandra Square'
                        postcode:
                          type: string
                          example: 'WS11 1ZY'
                        country:
                          type: string
                          example: UNITED_KINGDOM
                        telephone_number:
                          type: string
                          example: '04527298086'
                        timezone:
                          type: string
                          example: GMT
                        standard_timezone:
                          type: string
                          example: Europe/London
      tags:
        - Account
  '/account-children/{user_id}':
    get:
      summary: 'Get Account Children Information by ID'
      operationId: getAccountChildrenInformationByID
      description: 'Retrieves a list of accounts that the specified account has access to'
      parameters:
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 21
                      name: rose.phoebe.616
                      first_name: Jessica
                      surname: King
                      role: VIEWER
                      email: jackson.amy@owen.com
                      address: '80 Collins Land'
                      postcode: 'MK9 2AD'
                      country: UNITED_KINGDOM
                      telephone_number: +44(0)316836121
                      timezone: GMT
                      standard_timezone: Europe/London
                    -
                      id: 22
                      name: molly.watson.814
                      first_name: Isabelle
                      surname: Williams
                      role: OWNER
                      email: wilkinson.zach@smith.info
                      address: '33 Sean Valley'
                      postcode: 'TW15 3EQ'
                      country: UNITED_KINGDOM
                      telephone_number: '0975301722'
                      timezone: 'GMT +6'
                      standard_timezone: Asia/Qostanay
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 21
                        name: rose.phoebe.616
                        first_name: Jessica
                        surname: King
                        role: VIEWER
                        email: jackson.amy@owen.com
                        address: '80 Collins Land'
                        postcode: 'MK9 2AD'
                        country: UNITED_KINGDOM
                        telephone_number: +44(0)316836121
                        timezone: GMT
                        standard_timezone: Europe/London
                      -
                        id: 22
                        name: molly.watson.814
                        first_name: Isabelle
                        surname: Williams
                        role: OWNER
                        email: wilkinson.zach@smith.info
                        address: '33 Sean Valley'
                        postcode: 'TW15 3EQ'
                        country: UNITED_KINGDOM
                        telephone_number: '0975301722'
                        timezone: 'GMT +6'
                        standard_timezone: Asia/Qostanay
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 21
                        name:
                          type: string
                          example: rose.phoebe.616
                        first_name:
                          type: string
                          example: Jessica
                        surname:
                          type: string
                          example: King
                        role:
                          type: string
                          example: VIEWER
                        email:
                          type: string
                          example: jackson.amy@owen.com
                        address:
                          type: string
                          example: '80 Collins Land'
                        postcode:
                          type: string
                          example: 'MK9 2AD'
                        country:
                          type: string
                          example: UNITED_KINGDOM
                        telephone_number:
                          type: string
                          example: +44(0)316836121
                        timezone:
                          type: string
                          example: GMT
                        standard_timezone:
                          type: string
                          example: Europe/London
      tags:
        - Account
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: '1234'
        required: true
        schema:
          type: string
  /sso/me/accounts:
    get:
      summary: 'Get List Of Accounts Associated With Your SSO Identity'
      operationId: getListOfAccountsAssociatedWithYourSSOIdentity
      description: 'Retrieves all accounts that have been associated with your SSO identity'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 23
                      name: anna00.369
                      first_name: Alexandra
                      surname: Shaw
                      role: SUPER_ENGINEER
                      email: jack60@lewis.net
                      address: '57 James Spring'
                      postcode: 'NG5 1JR'
                      country: UNITED_KINGDOM
                      telephone_number: '08691 273874'
                      timezone: GMT
                      standard_timezone: Europe/London
                    -
                      id: 24
                      name: arthur94.60
                      first_name: Grace
                      surname: Fox
                      role: VIEWER
                      email: tim32@gmail.com
                      address: '9 Hall Knolls'
                      postcode: 'L38 9EB'
                      country: UNITED_KINGDOM
                      telephone_number: '(0262) 6260924'
                      timezone: 'GMT +9'
                      standard_timezone: Asia/Yakutsk
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 23
                        name: anna00.369
                        first_name: Alexandra
                        surname: Shaw
                        role: SUPER_ENGINEER
                        email: jack60@lewis.net
                        address: '57 James Spring'
                        postcode: 'NG5 1JR'
                        country: UNITED_KINGDOM
                        telephone_number: '08691 273874'
                        timezone: GMT
                        standard_timezone: Europe/London
                      -
                        id: 24
                        name: arthur94.60
                        first_name: Grace
                        surname: Fox
                        role: VIEWER
                        email: tim32@gmail.com
                        address: '9 Hall Knolls'
                        postcode: 'L38 9EB'
                        country: UNITED_KINGDOM
                        telephone_number: '(0262) 6260924'
                        timezone: 'GMT +9'
                        standard_timezone: Asia/Yakutsk
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 23
                        name:
                          type: string
                          example: anna00.369
                        first_name:
                          type: string
                          example: Alexandra
                        surname:
                          type: string
                          example: Shaw
                        role:
                          type: string
                          example: SUPER_ENGINEER
                        email:
                          type: string
                          example: jack60@lewis.net
                        address:
                          type: string
                          example: '57 James Spring'
                        postcode:
                          type: string
                          example: 'NG5 1JR'
                        country:
                          type: string
                          example: UNITED_KINGDOM
                        telephone_number:
                          type: string
                          example: '08691 273874'
                        timezone:
                          type: string
                          example: GMT
                        standard_timezone:
                          type: string
                          example: Europe/London
      tags:
        - Account
  /communication-device:
    get:
      summary: 'Get Your Communication Devices'
      operationId: getYourCommunicationDevices
      description: 'View a collection of communication devices you have access to'
      parameters:
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      serial_number: WF2345G123
                      type: WIFI
                      commission_date: '2021-01-01T00:00:00Z'
                      inverter:
                        serial: CE2345G123
                        status: WAITING
                        last_online: '2023-01-01T00:00:00Z'
                        last_updated: '2023-01-01T00:00:00Z'
                        commission_date: '2021-01-01T00:00:00Z'
                        info:
                          battery_type: LITHIUM
                          battery:
                            nominal_capacity: 110
                            nominal_voltage: 51.2
                          model: GIV-AC-3.0
                          max_charge_rate: 2560
                        warranty:
                          type: Standard
                          expiry_date: '2033-01-01T00:00:00Z'
                        firmware_version:
                          ARM: 420
                          DSP: 426
                        connections:
                          batteries:
                            -
                              module_number: 1
                              serial: BB2345G123
                              firmware_version: '1035'
                              capacity:
                                full: 110
                                design: 110
                              cell_count: 16
                              has_usb: true
                              nominal_voltage: 51.2
                          meters:
                            -
                              address: 1
                              serial_number: 212345678
                              manufacturer_code: '0000'
                              type_code: 1500
                              hardware_version: 1000
                              software_version: 1000
                              baud_rate: 9600
                        flags: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        serial_number: WF2345G123
                        type: WIFI
                        commission_date: '2021-01-01T00:00:00Z'
                        inverter:
                          serial: CE2345G123
                          status: WAITING
                          last_online: '2023-01-01T00:00:00Z'
                          last_updated: '2023-01-01T00:00:00Z'
                          commission_date: '2021-01-01T00:00:00Z'
                          info:
                            battery_type: LITHIUM
                            battery:
                              nominal_capacity: 110
                              nominal_voltage: 51.2
                            model: GIV-AC-3.0
                            max_charge_rate: 2560
                          warranty:
                            type: Standard
                            expiry_date: '2033-01-01T00:00:00Z'
                          firmware_version:
                            ARM: 420
                            DSP: 426
                          connections:
                            batteries:
                              -
                                module_number: 1
                                serial: BB2345G123
                                firmware_version: '1035'
                                capacity:
                                  full: 110
                                  design: 110
                                cell_count: 16
                                has_usb: true
                                nominal_voltage: 51.2
                            meters:
                              -
                                address: 1
                                serial_number: 212345678
                                manufacturer_code: '0000'
                                type_code: 1500
                                hardware_version: 1000
                                software_version: 1000
                                baud_rate: 9600
                          flags: []
                    items:
                      type: object
                      properties:
                        serial_number:
                          type: string
                          example: WF2345G123
                        type:
                          type: string
                          example: WIFI
                        commission_date:
                          type: string
                          example: '2021-01-01T00:00:00Z'
                        inverter:
                          type: object
                          properties:
                            serial:
                              type: string
                              example: CE2345G123
                            status:
                              type: string
                              example: WAITING
                            last_online:
                              type: string
                              example: '2023-01-01T00:00:00Z'
                            last_updated:
                              type: string
                              example: '2023-01-01T00:00:00Z'
                            commission_date:
                              type: string
                              example: '2021-01-01T00:00:00Z'
                            info:
                              type: object
                              properties:
                                battery_type:
                                  type: string
                                  example: LITHIUM
                                battery:
                                  type: object
                                  properties:
                                    nominal_capacity:
                                      type: integer
                                      example: 110
                                    nominal_voltage:
                                      type: number
                                      example: 51.2
                                model:
                                  type: string
                                  example: GIV-AC-3.0
                                max_charge_rate:
                                  type: integer
                                  example: 2560
                            warranty:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: Standard
                                expiry_date:
                                  type: string
                                  example: '2033-01-01T00:00:00Z'
                            firmware_version:
                              type: object
                              properties:
                                ARM:
                                  type: integer
                                  example: 420
                                DSP:
                                  type: integer
                                  example: 426
                            connections:
                              type: object
                              properties:
                                batteries:
                                  type: array
                                  example:
                                    -
                                      module_number: 1
                                      serial: BB2345G123
                                      firmware_version: '1035'
                                      capacity: { full: 110, design: 110 }
                                      cell_count: 16
                                      has_usb: true
                                      nominal_voltage: 51.2
                                  items:
                                    type: object
                                    properties:
                                      module_number: { type: integer, example: 1 }
                                      serial: { type: string, example: BB2345G123 }
                                      firmware_version: { type: string, example: '1035' }
                                      capacity: { type: object, properties: { full: { type: integer, example: 110 }, design: { type: integer, example: 110 } } }
                                      cell_count: { type: integer, example: 16 }
                                      has_usb: { type: boolean, example: true }
                                      nominal_voltage: { type: number, example: 51.2 }
                                meters:
                                  type: array
                                  example:
                                    -
                                      address: 1
                                      serial_number: 212345678
                                      manufacturer_code: '0000'
                                      type_code: 1500
                                      hardware_version: 1000
                                      software_version: 1000
                                      baud_rate: 9600
                                  items:
                                    type: object
                                    properties:
                                      address: { type: integer, example: 1 }
                                      serial_number: { type: integer, example: 212345678 }
                                      manufacturer_code: { type: string, example: '0000' }
                                      type_code: { type: integer, example: 1500 }
                                      hardware_version: { type: integer, example: 1000 }
                                      software_version: { type: integer, example: 1000 }
                                      baud_rate: { type: integer, example: 9600 }
                            flags:
                              type: array
                              example: []
      tags:
        - 'Communication Device'
  '/communication-device/{communicationDevice_serial_number}':
    get:
      summary: 'Get Communication Device Information by Serial Number'
      operationId: getCommunicationDeviceInformationBySerialNumber
      description: "Get a communication device's information by serial number"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    serial_number: WF2345G123
                    type: WIFI
                    commission_date: '2021-01-01T00:00:00Z'
                    inverter:
                      serial: CE2345G123
                      status: WAITING
                      last_online: '2023-01-01T00:00:00Z'
                      last_updated: '2023-01-01T00:00:00Z'
                      commission_date: '2021-01-01T00:00:00Z'
                      info:
                        battery_type: LITHIUM
                        battery:
                          nominal_capacity: 110
                          nominal_voltage: 51.2
                        model: GIV-AC-3.0
                        max_charge_rate: 2560
                      warranty:
                        type: Standard
                        expiry_date: '2033-01-01T00:00:00Z'
                      firmware_version:
                        ARM: 420
                        DSP: 426
                      connections:
                        batteries:
                          -
                            module_number: 1
                            serial: BB2345G123
                            firmware_version: '1035'
                            capacity:
                              full: 110
                              design: 110
                            cell_count: 16
                            has_usb: true
                            nominal_voltage: 51.2
                        meters:
                          -
                            address: 1
                            serial_number: 212345678
                            manufacturer_code: '0000'
                            type_code: 1500
                            hardware_version: 1000
                            software_version: 1000
                            baud_rate: 9600
                      flags: []
                properties:
                  data:
                    type: object
                    properties:
                      serial_number:
                        type: string
                        example: WF2345G123
                      type:
                        type: string
                        example: WIFI
                      commission_date:
                        type: string
                        example: '2021-01-01T00:00:00Z'
                      inverter:
                        type: object
                        properties:
                          serial:
                            type: string
                            example: CE2345G123
                          status:
                            type: string
                            example: WAITING
                          last_online:
                            type: string
                            example: '2023-01-01T00:00:00Z'
                          last_updated:
                            type: string
                            example: '2023-01-01T00:00:00Z'
                          commission_date:
                            type: string
                            example: '2021-01-01T00:00:00Z'
                          info:
                            type: object
                            properties:
                              battery_type:
                                type: string
                                example: LITHIUM
                              battery:
                                type: object
                                properties:
                                  nominal_capacity:
                                    type: integer
                                    example: 110
                                  nominal_voltage:
                                    type: number
                                    example: 51.2
                              model:
                                type: string
                                example: GIV-AC-3.0
                              max_charge_rate:
                                type: integer
                                example: 2560
                          warranty:
                            type: object
                            properties:
                              type:
                                type: string
                                example: Standard
                              expiry_date:
                                type: string
                                example: '2033-01-01T00:00:00Z'
                          firmware_version:
                            type: object
                            properties:
                              ARM:
                                type: integer
                                example: 420
                              DSP:
                                type: integer
                                example: 426
                          connections:
                            type: object
                            properties:
                              batteries:
                                type: array
                                example:
                                  -
                                    module_number: 1
                                    serial: BB2345G123
                                    firmware_version: '1035'
                                    capacity:
                                      full: 110
                                      design: 110
                                    cell_count: 16
                                    has_usb: true
                                    nominal_voltage: 51.2
                                items:
                                  type: object
                                  properties:
                                    module_number:
                                      type: integer
                                      example: 1
                                    serial:
                                      type: string
                                      example: BB2345G123
                                    firmware_version:
                                      type: string
                                      example: '1035'
                                    capacity:
                                      type: object
                                      properties: { full: { type: integer, example: 110 }, design: { type: integer, example: 110 } }
                                    cell_count:
                                      type: integer
                                      example: 16
                                    has_usb:
                                      type: boolean
                                      example: true
                                    nominal_voltage:
                                      type: number
                                      example: 51.2
                              meters:
                                type: array
                                example:
                                  -
                                    address: 1
                                    serial_number: 212345678
                                    manufacturer_code: '0000'
                                    type_code: 1500
                                    hardware_version: 1000
                                    software_version: 1000
                                    baud_rate: 9600
                                items:
                                  type: object
                                  properties:
                                    address:
                                      type: integer
                                      example: 1
                                    serial_number:
                                      type: integer
                                      example: 212345678
                                    manufacturer_code:
                                      type: string
                                      example: '0000'
                                    type_code:
                                      type: integer
                                      example: 1500
                                    hardware_version:
                                      type: integer
                                      example: 1000
                                    software_version:
                                      type: integer
                                      example: 1000
                                    baud_rate:
                                      type: integer
                                      example: 9600
                          flags:
                            type: array
                            example: []
      tags:
        - 'Communication Device'
    parameters:
      -
        in: path
        name: communicationDevice_serial_number
        description: 'The serial number of the communicationDevice.'
        example: consequatur
        required: true
        schema:
          type: string
  '/ems/{inverter_serial_number}/system-data/latest':
    get:
      summary: 'Get Latest EMS System Data'
      operationId: getLatestEMSSystemData
      description: '<aside class="notice">This will only work with Plant EMS</aside>'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    battery_power: 9214
                    battery_wh_remaining: 58276
                    calculated_load_power: 15168
                    car_power: -27828
                    error_code: 40330
                    grid_power: 16772
                    measured_load_power: 19053
                    status: 3
                    time: null
                    total_generation: 8035
                    warning_code: 48384
                    inverters:
                      -
                        active_power: -8597
                        number: 1
                        serial_number: il6029p206
                        soc: 88
                        status: 4
                        temperature: 3.2
                      -
                        active_power: -2221
                        number: 2
                        serial_number: nl3168l361
                        soc: 79
                        status: 4
                        temperature: 10.3
                      -
                        active_power: 24191
                        number: 3
                        serial_number: uy0262d251
                        soc: 43
                        status: 2
                        temperature: 28.4
                      -
                        active_power: null
                        number: 4
                        serial_number: null
                        soc: null
                        status: 0
                        temperature: null
                    meters:
                      -
                        active_power: null
                        number: 1
                        status: 0
                        type: 0
                      -
                        active_power: null
                        number: 2
                        status: 2
                        type: 1
                      -
                        active_power: null
                        number: 3
                        status: 0
                        type: 3
                      -
                        active_power: null
                        number: 4
                        status: 2
                        type: 2
                      -
                        active_power: null
                        number: 5
                        status: 0
                        type: 0
                      -
                        active_power: null
                        number: 6
                        status: 0
                        type: 0
                      -
                        active_power: null
                        number: 7
                        status: 0
                        type: 0
                      -
                        active_power: null
                        number: 8
                        status: 0
                        type: 0
                properties:
                  data:
                    type: object
                    properties:
                      battery_power:
                        type: integer
                        example: 9214
                      battery_wh_remaining:
                        type: integer
                        example: 58276
                      calculated_load_power:
                        type: integer
                        example: 15168
                      car_power:
                        type: integer
                        example: -27828
                      error_code:
                        type: integer
                        example: 40330
                      grid_power:
                        type: integer
                        example: 16772
                      measured_load_power:
                        type: integer
                        example: 19053
                      status:
                        type: integer
                        example: 3
                      time:
                        type: string
                        example: null
                      total_generation:
                        type: integer
                        example: 8035
                      warning_code:
                        type: integer
                        example: 48384
                      inverters:
                        type: array
                        example:
                          -
                            active_power: -8597
                            number: 1
                            serial_number: il6029p206
                            soc: 88
                            status: 4
                            temperature: 3.2
                          -
                            active_power: -2221
                            number: 2
                            serial_number: nl3168l361
                            soc: 79
                            status: 4
                            temperature: 10.3
                          -
                            active_power: 24191
                            number: 3
                            serial_number: uy0262d251
                            soc: 43
                            status: 2
                            temperature: 28.4
                          -
                            active_power: null
                            number: 4
                            serial_number: null
                            soc: null
                            status: 0
                            temperature: null
                        items:
                          type: object
                          properties:
                            active_power:
                              type: integer
                              example: -8597
                            number:
                              type: integer
                              example: 1
                            serial_number:
                              type: string
                              example: il6029p206
                            soc:
                              type: integer
                              example: 88
                            status:
                              type: integer
                              example: 4
                            temperature:
                              type: number
                              example: 3.2
                      meters:
                        type: array
                        example:
                          -
                            active_power: null
                            number: 1
                            status: 0
                            type: 0
                          -
                            active_power: null
                            number: 2
                            status: 2
                            type: 1
                          -
                            active_power: null
                            number: 3
                            status: 0
                            type: 3
                          -
                            active_power: null
                            number: 4
                            status: 2
                            type: 2
                          -
                            active_power: null
                            number: 5
                            status: 0
                            type: 0
                          -
                            active_power: null
                            number: 6
                            status: 0
                            type: 0
                          -
                            active_power: null
                            number: 7
                            status: 0
                            type: 0
                          -
                            active_power: null
                            number: 8
                            status: 0
                            type: 0
                        items:
                          type: object
                          properties:
                            active_power:
                              type: string
                              example: null
                            number:
                              type: integer
                              example: 1
                            status:
                              type: integer
                              example: 0
                            type:
                              type: integer
                              example: 0
      tags:
        - 'EMS Data'
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'Optional parameter. The serial number of the EMS'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: consequatur
  /ev-charger:
    get:
      summary: 'Get Your EV Chargers'
      operationId: getYourEVChargers
      description: 'Return a list of EV chargers registered to your account'
      parameters:
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      uuid: efc43b75-d70a-476f-8555-5cb92ac4cc46
                      serial_number: '02622517580214'
                      type: GivEnergy
                      alias: Garage
                      online: false
                      went_offline_at: null
                      status: Charging
                    -
                      uuid: 47a49107-78f8-4c84-bd6f-62d45a0f154f
                      serial_number: '96893553879883'
                      type: GivEnergy
                      alias: 'EV Charger 1'
                      online: false
                      went_offline_at: null
                      status: Unavailable
                properties:
                  data:
                    type: array
                    example:
                      -
                        uuid: efc43b75-d70a-476f-8555-5cb92ac4cc46
                        serial_number: '02622517580214'
                        type: GivEnergy
                        alias: Garage
                        online: false
                        went_offline_at: null
                        status: Charging
                      -
                        uuid: 47a49107-78f8-4c84-bd6f-62d45a0f154f
                        serial_number: '96893553879883'
                        type: GivEnergy
                        alias: 'EV Charger 1'
                        online: false
                        went_offline_at: null
                        status: Unavailable
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: efc43b75-d70a-476f-8555-5cb92ac4cc46
                        serial_number:
                          type: string
                          example: '02622517580214'
                        type:
                          type: string
                          example: GivEnergy
                        alias:
                          type: string
                          example: Garage
                        online:
                          type: boolean
                          example: false
                        went_offline_at:
                          type: string
                          example: null
                        status:
                          type: string
                          example: Charging
      tags:
        - 'EV Charger'
  '/ev-charger/{charger_uuid}':
    get:
      summary: 'Get EV Charger by UUID'
      operationId: getEVChargerByUUID
      description: 'Return information about a single EV charger by its UUID'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    uuid: ef773058-d57f-4329-9d27-b2531b6da1fb
                    serial_number: '70458130637647'
                    type: GivEnergy
                    alias: Garage
                    online: false
                    went_offline_at: null
                    status: Preparing
                properties:
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: ef773058-d57f-4329-9d27-b2531b6da1fb
                      serial_number:
                        type: string
                        example: '70458130637647'
                      type:
                        type: string
                        example: GivEnergy
                      alias:
                        type: string
                        example: Garage
                      online:
                        type: boolean
                        example: false
                      went_offline_at:
                        type: string
                        example: null
                      status:
                        type: string
                        example: Preparing
      tags:
        - 'EV Charger'
    parameters:
      -
        in: path
        name: charger_uuid
        description: 'The UUID of the charger.'
        example: 66529e01-d113-3473-8d6f-9e11e09332ea
        required: true
        schema:
          type: string
  '/ev-charger/{charger_uuid}/meter-data':
    get:
      summary: 'Get Data Points'
      operationId: getDataPoints
      description: ''
      parameters:
        -
          in: query
          name: start_time
          description: 'The time of the earliest data point. Must be a valid date. Must be a date before <code>now</code>.'
          example: '2023-06-01T00:00:00Z'
          required: true
          schema:
            type: string
            description: 'The time of the earliest data point. Must be a valid date. Must be a date before <code>now</code>.'
            example: '2023-06-01T00:00:00Z'
        -
          in: query
          name: end_time
          description: 'The time of the latest data point. Must be a valid date. Must be a date after <code>start_time</code>.'
          example: '2023-06-02T00:00:00Z'
          required: true
          schema:
            type: string
            description: 'The time of the latest data point. Must be a valid date. Must be a date after <code>start_time</code>.'
            example: '2023-06-02T00:00:00Z'
        -
          in: query
          name: measurands
          description: 'One or more measurands to filter by.'
          example:
            - 1
          required: true
          schema:
            type: array
            description: 'One or more measurands to filter by.'
            example:
              - 1
            items:
              type: string
        -
          in: query
          name: meter_ids
          description: 'The IDs of the measuring devices to fetch data for.'
          example:
            - 1
          required: true
          schema:
            type: array
            description: 'The IDs of the measuring devices to fetch data for.'
            example:
              - 1
            items:
              type: integer
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      meter_id: 0
                      timestamp: '2023-06-01 08:00:00'
                      measurements:
                        -
                          measurand: 13
                          value: 1145.0
                          unit: 4
                        -
                          measurand: 11
                          value: 50.2
                          unit: null
                        -
                          measurand: 21
                          value: 230.5
                          unit: 11
                properties:
                  data:
                    type: array
                    example:
                      -
                        meter_id: 0
                        timestamp: '2023-06-01 08:00:00'
                        measurements:
                          -
                            measurand: 13
                            value: 1145
                            unit: 4
                          -
                            measurand: 11
                            value: 50.2
                            unit: null
                          -
                            measurand: 21
                            value: 230.5
                            unit: 11
                    items:
                      type: object
                      properties:
                        meter_id:
                          type: integer
                          example: 0
                        timestamp:
                          type: string
                          example: '2023-06-01 08:00:00'
                        measurements:
                          type: array
                          example:
                            -
                              measurand: 13
                              value: 1145
                              unit: 4
                            -
                              measurand: 11
                              value: 50.2
                              unit: null
                            -
                              measurand: 21
                              value: 230.5
                              unit: 11
                          items:
                            type: object
                            properties:
                              measurand:
                                type: integer
                                example: 13
                              value:
                                type: number
                                example: 1145.0
                              unit:
                                type: integer
                                example: 4
      tags:
        - 'EV Charger'
    parameters:
      -
        in: path
        name: charger_uuid
        description: 'The UUID of the charger.'
        example: 66529e01-d113-3473-8d6f-9e11e09332ea
        required: true
        schema:
          type: string
  '/ev-charger/{charger_uuid}/commands':
    get:
      summary: 'Get Supported Commands'
      operationId: getSupportedCommands
      description: 'Fetch a list of all commands that are supported for the given EV charger'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - start-charge
                    - stop-charge
                    - set-plug-and-go
                    - set-session-energy-limit
                    - set-schedule
                    - change-mode
                properties:
                  data:
                    type: array
                    example:
                      - start-charge
                      - stop-charge
                      - set-plug-and-go
                      - set-session-energy-limit
                      - set-schedule
                      - change-mode
                    items:
                      type: string
      tags:
        - 'EV Charger'
    parameters:
      -
        in: path
        name: charger_uuid
        description: 'The UUID of the charger.'
        example: 66529e01-d113-3473-8d6f-9e11e09332ea
        required: true
        schema:
          type: string
  '/ev-charger/{charger_uuid}/commands/{command_id}':
    get:
      summary: 'Get Command Data'
      operationId: getCommandData
      description: "Fetch the current data for the given command and EV Charger\n\n<aside class=\"notice\">A 422 error will be thrown if an invalid command ID is provided or if the given EV charger does not support the given command</aside>\n\nThe below response example is for the <code>change-mode</code> command"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    active: EcoPlus
                    available:
                      - Eco
                      - EcoPlus
                      - Boost
                properties:
                  data:
                    type: object
                    properties:
                      active:
                        type: string
                        example: EcoPlus
                      available:
                        type: array
                        example:
                          - Eco
                          - EcoPlus
                          - Boost
                        items:
                          type: string
      tags:
        - 'EV Charger'
    post:
      summary: 'Send Command'
      operationId: sendCommand
      description: 'Send a command to an EV Charger'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    code: 0
                    success: true
                    message: Accepted
                properties:
                  data:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 0
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Accepted
      tags:
        - 'EV Charger'
    parameters:
      -
        in: path
        name: charger_uuid
        description: 'The UUID of the charger.'
        example: 66529e01-d113-3473-8d6f-9e11e09332ea
        required: true
        schema:
          type: string
      -
        in: path
        name: command_id
        description: 'The ID of the command.'
        example: setup-version
        required: true
        schema:
          type: string
  '/ev-charger/{charger_uuid}/charging-sessions':
    get:
      summary: 'Get Charging Sessions'
      operationId: getChargingSessions
      description: 'Fetch a list of all charging sessions for the given EV charger'
      parameters:
        -
          in: query
          name: start_time
          description: 'Must be a valid date. Must be a date before or equal to <code>end_time</code>.'
          example: '2019-03-30'
          required: false
          schema:
            type: string
            description: 'Must be a valid date. Must be a date before or equal to <code>end_time</code>.'
            example: '2019-03-30'
        -
          in: query
          name: end_time
          description: 'Must be a valid date. Must be a date after or equal to <code>start_time</code>.'
          example: '2106-01-01'
          required: false
          schema:
            type: string
            description: 'Must be a valid date. Must be a date after or equal to <code>start_time</code>.'
            example: '2106-01-01'
        -
          in: query
          name: page
          description: 'Page number to return'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number to return'
            example: 1
        -
          in: query
          name: pageSize
          description: 'Number of items to return in a page. Defaults to 15'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items to return in a page. Defaults to 15'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      started_by: 9f42852
                      meter_start: 933.4
                      started_at: '2000-08-04T18:45:29Z'
                      stopped_by: null
                      meter_stop: null
                      stopped_at: null
                      stop_reason: null
                    -
                      started_by: 54bd6d5
                      meter_start: 1423.7
                      started_at: '1981-02-21T04:30:42Z'
                      stopped_by: null
                      meter_stop: null
                      stopped_at: null
                      stop_reason: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        started_by: 9f42852
                        meter_start: 933.4
                        started_at: '2000-08-04T18:45:29Z'
                        stopped_by: null
                        meter_stop: null
                        stopped_at: null
                        stop_reason: null
                      -
                        started_by: 54bd6d5
                        meter_start: 1423.7
                        started_at: '1981-02-21T04:30:42Z'
                        stopped_by: null
                        meter_stop: null
                        stopped_at: null
                        stop_reason: null
                    items:
                      type: object
                      properties:
                        started_by:
                          type: string
                          example: 9f42852
                        meter_start:
                          type: number
                          example: 933.4
                        started_at:
                          type: string
                          example: '2000-08-04T18:45:29Z'
                        stopped_by:
                          type: string
                          example: null
                        meter_stop:
                          type: string
                          example: null
                        stopped_at:
                          type: string
                          example: null
                        stop_reason:
                          type: string
                          example: null
      tags:
        - 'EV Charger'
    parameters:
      -
        in: path
        name: charger_uuid
        description: 'The UUID of the charger.'
        example: 66529e01-d113-3473-8d6f-9e11e09332ea
        required: true
        schema:
          type: string
  '/inverter/{inverter_serial_number}/energy-flows':
    post:
      summary: 'Get Energy Flow Data'
      operationId: getEnergyFlowData
      description: 'Fetches the energy flow data for a given inverter between 2 times'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"data\": [\n         \"start_time\": \"2022-01-01 00:00\",\n         \"end_time\": \"2022-01-01 00:30\",\n         \"data\": [\n             \"0\": 4.5,\n             \"1\": 8.3,\n             \"2\": 1.2,\n             \"5\": 7.3\n         ],\n         ...\n     ]\n }"
      tags:
        - 'Energy Flow Data'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_time:
                  type: datetime
                  description: "The start time of the query. Based on the inverter's local time"
                  example: '2022-01-01'
                end_time:
                  type: datetime
                  description: "The end time of the query. Based on the inverter's local time"
                  example: '2022-01-01'
                grouping:
                  type: integer
                  description: 'The way in which to group the data. See the above table for a complete list of grouping IDs'
                  example: 0
                types:
                  type: array
                  description: 'An array of type IDs. See the above table for a complete list of type IDs. Leave blank to fetch all types'
                  example:
                    - 0
                    - 1
                    - 2
                    - 5
                  items:
                    type: integer
              required:
                - start_time
                - end_time
                - grouping
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
  '/inverter/{inverter_serial_number}/presets':
    get:
      summary: 'Get Setting Presets'
      operationId: getSettingPresets
      description: 'Retrieves a list of available setting presets for a given inverter'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"data\": [\n         {\n             \"id\": 0,\n             \"identifier\": \"eco-mode\",\n             \"name\": \"Eco\",\n             \"description\": \"This mode will dynamically charge and discharge your batteries to minimise your import from the grid\",\n             \"parameters\": {\n                 \"enabled\": {\n                     \"description\": \"Enable or disable the preset\",\n                     \"validation\": [\n                         \"required\",\n                         \"boolean\"\n                     ]\n                 }\n             }\n         },\n         ...\n     ]\n}"
      tags:
        - 'Inverter Control'
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
  '/inverter/{inverter_serial_number}/presets/{id}':
    get:
      summary: 'Get Preset Values'
      operationId: getPresetValues
      description: "Get a preset's current values\n\nThe returned data will be formatted in the same way as the preset's parameters. Examples can be found on the right\n\n<aside class=\"notice\">If a particular value is not yet known as it hasn't been set on or read from the inverter,\nan assumed default value or null may be returned, depending on the preset and value</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    // timed-charge, 1 slot\n    \"data\": {\n         \"enabled\": true,\n         \"slots\": [\n             {\n                 \"start_time\": \"00:00\",\n                 \"end_time\": \"06:00\",\n                 \"percent_limit\": 50\n             }\n         ]\n     }\n}"
      tags:
        - 'Inverter Control'
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
      -
        in: path
        name: id
        description: 'The preset ID (`identifier`), as returned by the API or defined in the documentation'
        example: consequatur
        required: true
        schema:
          type: string
  '/inverter/{inverter_serial_number}/presets/{preset}':
    post:
      summary: 'Modify Preset'
      operationId: modifyPreset
      description: 'Modify one or more inverter settings using a given preset'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                    message: 'Read Successfully'
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'Read Successfully'
      tags:
        - 'Inverter Control'
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
      -
        in: path
        name: preset
        description: 'The preset ID (`identifier`) or Legacy ID (`id`), as returned by the API or defined in the documentation'
        example: consequatur
        required: true
        schema:
          type: string
  '/inverter/{inverter_serial_number}/settings':
    get:
      summary: 'Get Settings List'
      operationId: getSettingsList
      description: 'Returns a set of inverter settings available to your account'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 266
                      name: 'DC Discharge 3 End Time'
                      validation: 'Value format should be HH:mm. Use correct time range for hour and minutes'
                      validation_rules:
                        - 'date_format:H:i'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 266
                        name: 'DC Discharge 3 End Time'
                        validation: 'Value format should be HH:mm. Use correct time range for hour and minutes'
                        validation_rules:
                          - 'date_format:H:i'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 266
                        name:
                          type: string
                          example: 'DC Discharge 3 End Time'
                        validation:
                          type: string
                          example: 'Value format should be HH:mm. Use correct time range for hour and minutes'
                        validation_rules:
                          type: array
                          example:
                            - 'date_format:H:i'
                          items:
                            type: string
      tags:
        - 'Inverter Control'
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
  '/inverter/{inverter_serial_number}/settings/{setting_id}/read':
    post:
      summary: 'Read Setting'
      operationId: readSetting
      description: 'Read a specific setting on the inverter'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    value: 326.13
                properties:
                  data:
                    type: object
                    properties:
                      value:
                        type: number
                        example: 326.13
      tags:
        - 'Inverter Control'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  description: "Additional context to record against this command. Appears on the remote control history in 'via'"
                  example: consequatur
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
      -
        in: path
        name: setting_id
        description: 'The ID of the setting.'
        example: 17
        required: true
        schema:
          type: integer
  '/inverter/{inverter_serial_number}/settings/{setting_id}/write':
    post:
      summary: 'Modify Setting'
      operationId: modifySetting
      description: 'Write a value to the setting on the inverter'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    value: '32:613'
                    success: true
                    message: 'Read Successfully'
                properties:
                  data:
                    type: object
                    properties:
                      value:
                        type: string
                        example: '32:613'
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'Read Successfully'
      tags:
        - 'Inverter Control'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: mixed
                  description: 'The value of the setting'
                  example: consequatur
                context:
                  type: string
                  description: "Additional context to record against this command. Appears on the remote control history in 'via'"
                  example: consequatur
              required:
                - value
    parameters:
      -
        in: path
        name: inverter_serial_number
        description: 'The serial number of the inverter.'
        example: CE1234G567
        required: true
        schema:
          type: string
      -
        in: path
        name: setting_id
        description: 'The ID of the setting.'
        example: 17
        required: true
        schema:
          type: integer
  /multi-control/write:
    post:
      summary: 'Modify Setting (Multiple)'
      operationId: modifySettingMultiple
      description: "Write a value to a setting on multiple inverters\n<aside class=\"warning\">Only attempt to modify the setting for inverters that you are certain exist and which you have access to.\nImproper use of this endpoint may lead to restrictions being imposed on your account</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_API_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
[...]
