name: CI .NET

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    permissions:
      actions: write
      contents: write
      deployments: read
      pages: write
      id-token: write
      pull-requests: write
      packages: read
      security-events: write
    uses: dpvreony/github-action-workflows/.github/workflows/dotnet-ci.yml@1.7.0
    with:
      buildOs: "windows"
      solutionName: "Whipstaff"
      runIntTestsOnPrimaryOsOnly: true
      workloads : "android,ios,tvos,macos,maui"
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

